[submodule "configs/vim/bundle/vim-airline-themes"]
	path = configs/vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "configs/vim/bundle/vim-airline"]
	path = configs/vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "configs/vim/bundle/vim-devicons"]
	path = configs/vim/bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "configs/vim/bundle/vim-gruvbox"]
	path = configs/vim/bundle/vim-gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "configs/vim/bundle/vim-nerdtree-git-plugin"]
	path = configs/vim/bundle/vim-nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "configs/vim/bundle/vim-supertab"]
	path = configs/vim/bundle/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule "configs/vim/bundle/vim-tmuxline"]
	path = configs/vim/bundle/vim-tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "configs/oh-my-zsh"]
	path = configs/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
